Package: adbtools
Priority: optional
Section: android-tools
Installed-Size: 780
Maintainer: Ali Rıza KESKİN <aliriza.keskin@pardustopluluk.org>
Architecture: all
Version: 1.0
Depends: adb, fastboot, openvpn
Description: android tools
 Katkılarından dolayı Furkan KARCIOGLU (SuperDroid) tesekkur ederim.
